{% extends 'accounts/main.html' %}
<!-- ################################ -->
{% block content %}
<div class="main">
    <div class="row">

        <div class="col-md">
            <div class="card text-center text-dark bg-light  mb-3">
                  <div class="card-header">
                      <h5 class="card-title">CLIENTE</h5>
                  </div>
                  <div class="card-body">
                        <hr>
                        <td><a href="" type="button" class="btn btn-outline-dark">ACTUALIZAR PERFIL</a></td>
                        <td><a href="{% url 'create_order' customer.id %}" type="button" class="btn btn-outline-dark">REALIZAR PEDIDO</a></td>
                  </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card text-center text-dark bg-light  mb-3">
                  <div class="card-header">
                      <h5 class="card-title">CONTACTO</h5>
                  </div>
                  <div class="card-body text-left">
                        <hr>
                        <p>Email: {{customer.email}}</p>
			            <p>Tel: {{customer.phone}}</p>
                  </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card text-center text-dark bg-light  mb-3">
                <div class="card-header">
                    <h5 class="card-title">ÓRDENES TOTALES</h5>
                </div>
                <div class="card-body">
                    <hr>
                    <h1 style="text-align: center;padding: 10px">{{order_count}}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card card-body">
    
                <form method="GET">
                    {{myFilter.form}}
    
                    <button class="btn btn-primary" type="submit">BUSCAR</button>
                </form>
    
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-dark bg-light  mb-3">
                      <div class="card-header">
                          <h5 class="card-title">DETALLES</h5>
                      </div>
                      <div class="card-body">
                        
                        <table class="table table-sm">
                            <tr>
                                <th>Producto</th>
					            <th>Nota</th>
					            <th>Fecha Pedido</th>
					            <th>Status</th>
					            <th>-</th>
					            <th>-</th>
                            </tr>
                            {% for i in customer_order %}
                            <tr>
                                <td>{{i.product}}</td>
                                <td>{{i.product.category}}</td>
                                <td>{{i.date_created}}</td>
                                <td>{{i.status}}</td>
                                <td><a href="{% url 'update_order' i.id %}" class="btn btn-outline-success" tabindex="-1" role="button" aria-disabled="true">ACTUALIZAR</a></td>
                                <td><a href="{% url 'delete_order' i.id %}" class="btn btn-outline-danger" tabindex="-1" role="button" aria-disabled="true">ELIMINAR</a></td>
                            </tr>
                            {% endfor %}
                        </table>
        
                      </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
<!-- ################################ -->